#!/usr/bin/env bash
# shellcheck disable=SC2034

# APP
SALT=10
PORT_SERVER=3000
PORT_CLIENT=5000
PORT_MONGO=27017
PORT_REDIS=6379
PORT_NGINX=80
TIME_EXPIRE_ACCESS_TOKEN=1209600s  # 14 days
TIME_EXPIRE_REFRESH_TOKEN=7776000s # 90 days
SECRET=secret_here
NEXTAUTH_URL=http://localhost:5000
NEXTAUTH_URL_INTERNAL=http://localhost:5000
BASE_URL_CLIENT=http://localhost:5000
BASE_URL_SERVER=http://localhost:3000
# CONTAINER
CONTAINER_SUBNET=172.26.22.0/24
CONTAINER_CLIENT_IP=172.26.22.102
CONTAINER_SERVER_IP=172.26.22.101
CONTAINER_MONGO_IP=172.26.22.88
CONTAINER_REDIS_IP=172.26.22.103
CONTAINER_NGINX_IP=172.26.22.104
CONTAINER_NAME_SERVER=name-container-server
CONTAINER_NAME_CLIENT=name-container-client
CONTAINER_NAME_MONGO=name-container-mongo
CONTAINER_NAME_REDIS=name-container-redis
CONTAINER_NAME_NGINX=name-container-nginx
# MONGO
MONGO_DATABASE=your-database-name
MONGO_USERNAME=username-database
MONGO_PASSWORD=password-database
MONGO_URL="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${CONTAINER_MONGO_IP}:${PORT_MONGO}/${MONGO_DATABASE}?authSource=admin"

# AWS S3
AWS_S3_NAME_BUCKET=boxuniverse
AWS_S3_BASE_BUCKET="https://${AWS_S3_NAME_BUCKET}.s3.ap-southeast-1.amazonaws.com/"
AWS_S3_ACCESS_KEY_ID=AKIAY6Y63QRWWKMRS2GJ
AWS_S3_SECRET_ACCESS_KEY=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

# FACEBOOK
FACEBOOK_CLIENT_ID=1060724311227658
FACEBOOK_CLIENT_SECRET=cde7098c63e655d853076ac14605904b

# GOOGLE
GOOGLE_CLIENT_ID=866717142284-o2kdunnlgkd7n5ft9il264lp7gucdrce.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# GITHUB
GITHUB_CLIENT_ID=Iv1.8687747adf4b25d6
GITHUB_CLIENT_SECRET=79710b751f0b31268163f904fd571549d7e1967f
